
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
.startGame{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.startGame_buttonSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: 1px solid red;
  background-color: rgba(240, 248, 255, 0.532);
  color: black;
  border-radius: 20px;
  position: relative;
  animation-name: moveSectionButton;
  animation-duration: 1.5s;
}


.startGame_buttonSection .startGame_button{
  width: 100%;  
}

.startGame_buttonSection .startGame_button button{
  width: 70%;
  height: 100px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
  transition: transform .2s;
}

.startGame_buttonSection .startGame_button button:hover{
  transform: scale(1.1);
}

@keyframes moveSectionButton {
  0% {left: -800px;}
  100% {left: 0px;}
}



.board{
  width: fit-content;
  margin: 40px auto;
  text-align: center;
  float: left;
  
}
.impar{
  background-color: rgb(237, 189, 127);
}

.par{
  background-color: #874002;
}

.board .game{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.board .game .casilla{
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  cursor: pointer;
  font-size: 45px;
}

.temporizador_Tiempo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  float: left;
  margin-left: 40px;
  min-height: 60vh;
}
.colorB{
  color: black;
}