/*https://www.canva.com/colors/color-palettes/pastel-dreams/*/

.tablero{
  width: fit-content;
  display: flex;
  flex-direction: row;
 
}
.tablas{
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 2px 3px 3px black;
  border-radius: 10px 10px 10px 10px;
  margin-right: 14px;
}

.tablero_table_header{
  width: 300px;
  border-radius: 10px 10px 0px 0px;
  background-color: #A0E7E5;
  white-space: normal;
  color: black;
 
}

.tablero_table_body{
  width: 300px;
  border-radius: 0px 0px 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.299);
  background-color: #A0E7E5;
  color: black;
}

.tablero_table_task {
  box-shadow: 2px 2px black;
  background-color: white;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all .6s;
}

.tablero_table_task:hover{
  box-shadow: 3px 3px #FFAEBC;
}

.tablero_table_task p {
  margin-left: 5px;
  cursor: pointer;
}
.taskArrowIcon{
  float: right;

} 

.tablero_table_task_form{
  margin-left: 10px;
  margin-right: 10px;
}


.tablero_table_task_form .btn_desplegable{
  border: 0;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  background-color: #B4F8C8;
  color: rgb(#44546f);
  border-radius: 5px;
  margin-bottom: 7px;
}

.tablero_table_task_form .btn_desplegable:hover{
  background-color: #f2f2f4d5;
}

/* OCULTAR EL FORMULARIO DE AÑADIR TASK */
.tablero_table_task_form form{
  display: none;
  
}

.formTaskButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.taskArea{
  resize: vertical;
  border-radius: 5px;
  height: 50px;
  width: 98%;
  font-size: 15px;
  height: fit-content;  
  
}

.btn_formTask{
  background-color:#B4F8C8;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all .6s;
  box-shadow: 2px 2px black;
  float: left;
}

.btn_formTask:hover{
  box-shadow: 2px 2px #FFAEBC;
}

.tablero .tablero_table_header{
  height: 44px;
}

.tablero_table_header p {
  margin-top: 0px;
  padding: 10px 22px;
}

.tablero_form{
  border-radius: 5px;
  width: 300px;
  height: 44px;
  border: 1px solid blue;
  background-color: #B4F8C8;
  text-align: center;
}

.tablero_form button{
  margin-left: 4px;
  border-radius: 100%;
  width: 34px;
  height: 34px;
  text-align: center;
  border: 1px solid black;
  margin-right: 20px;
  margin-top: 4px;
  transition: all .5s;
}

.tablero_form button:hover{
  background-color: #FFAEBC;
}

.tablero_form input{
  width: 50%;
  border:0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
  font-size: 15px;
  transition: all .5s;
  background-color: #B4F8C8;
}

.tablero_form input:focus{
  width: 70%;
  outline: none;
}
.quickCard{
  background-color: #0009;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 10;
}

.quicCardOptions{
  display: flex;
  flex-direction: column;
  width: 150px;
}

.buttPutTareaButton{
  width: 70px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #A0E7E5;
  padding: 6px 12px 6px 10px;
  
}
.buttPutTareaButton:hover{
  background-color: #7aafad;
  color: white;
}

.quicCardOptions button{
  display: block;
  cursor: pointer;
  background: #0009;
  color: #c7d1db;
  padding: 6px 12px 6px 10px;
  border-radius: 3px;
  margin: 0 0 4px 8px;
  transition: transform 85ms ease-in;
  
}

.quicCardOptions button:hover{
  transform: translateX(7px);
  color:white;
  background-color: black;
 
}