.tablero{

  white-space: nowrap;

  height: 100%;
}

.tablero_table{
  height: 100%;
  width: 300px;
  display: inline-block;
  border: 1px solid red;
  background-color: gray;
  margin-right: 10px;
}

.tablero_form{
  width: 300px;
  height: 58px;
  border: 1px solid blue;
  background-color: white;
  display: inline-block;
  position: absolute;
  text-align: center;
}

.tablero_form button{
  margin-left: 4px;
  border-radius: 100%;
  width: 34px;
  height: 34px;
  text-align: center;
  border: 1px solid black;
  margin-right: 20px;
  margin-top: 11px;
  transition: all .5s;
}

.tablero_form button:hover{
  background-color: red;
}

.tablero_form input{
  width: 50%;
  border:0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
  font-size: 15px;
  transition: all .5s;
}

.tablero_form input:focus{
  width: 70%;
  outline: none;
}