
/***********************/
/* Twitter Follow Card */
/***********************/

.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    padding: 12px;       
}

.tw-followCard:hover{
    background-color: #bbb;
    transition: .8s;
    cursor: pointer;
}

.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followCard-info span{
    opacity: .6;
}

.tw-followCard-avatar{
    margin-left: 7px;
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button{
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #000;
    transition: .3s ease background-color;
}

.tw-followCard-button:hover{
   opacity: .8;
    
}

.is-following{
    border:1px solid #bbb ;
    background-color: transparent;
    color: white;
    width: 140px;
}

.is-following:hover{
    background: rgb(255, 102, 102);
    color: #fff;
    
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow{
   
    display: block;
}



.tw-followCard-button.is-following:hover .tw-followCard-text{
    display: none;
}

.tw-followCard-stopFollow{
    display: none;
}


/************************/
/** Twitter Post Card ***/
/************************/
/************************/

.tw-postCard{
    width: 598px;
    color: #fff;
    min-height: 612;
    margin-right: 13px;
    border-bottom: 1px solid rgba(199, 250, 250, 0.531);  
}

.tw-postCard:hover{
    background-color: rgba(243, 238, 238, 0.145);
    transition: .9s ;
}


.tw-postCard-header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

span{
    opacity: .6;
}

.tw-postCard-header .tw-postCard-info strong{
    margin-right: 5px;
}

.tw-postCard-content{
    width: 506px;
    margin-left: 60px;
}

.tw-postCard-content p{
    font-size: 15px;
    margin-top: 0px;
}



.tw-postCard-content img{
    border-radius: 16px;
    min-height: 280px;
    cursor: pointer;
    width: auto;
}
.tw-postCard-buttons{
    margin-top: 7px;
    margin-bottom: 20px;
   
}

.tw-postCard-buttons-noStyle{
    background:none;
    color: rgba(255, 255, 255, 0.282);
    border: none;
    font-size: 15px;
    
}

.tw-postCard-buttons-noStyle:hover .button-heart{
    color: red;
    transition: color .4s; 
}

.tw-postCard-buttons-noStyle:hover .button-txt-heart{
    color: red;
    transition: color .4s, background-color .4s; 
}

.tw-postCard-buttons-noStyle:hover .button-retwet{
    background-color: rgba(4, 219, 4, 0.292);
    color: rgb(4, 219, 4);
    border-radius: 20px;
    transition: color .4s, background-color .4s; 
}

.tw-postCard-buttons-noStyle:hover .button-txt-retwet{
    color: rgb(4, 219, 4);
    transition: color .4s, background-color .4s; 
}


.tw-postCard-buttons-noStyle span{
    margin-right: 20px;
}

.tw-postCard-buttonHearth{
    margin-right: 30px;
    
}


