body{
    margin: 0;
    background: #222;
    font-family: system-ui;
    display: grid;
    min-height: 100vh;
    place-content: center;
}

.twitter_contentFollowCard{
  display: flex;
  flex-direction: column;
  gap: 16px;
  float: left;
  
  border-left: 2px solid rgb(250, 195, 195);  
}

.twitter_contentPostCard{
  margin-left: 20px;
  float: left;
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

h1{
  text-align: center;
  border-bottom: 1px solid rgb(250, 195, 195);
  margin-bottom: 30px;
}