body{
    margin: 0;
    background: rgb(0, 0, 0);
    font-family: system-ui;
    display: grid;
    min-height: 100vh;
    place-content: center;
}

.twitter_contentFollowCard{
  display: flex;
  flex-direction: column;
  gap: 16px;
  float: left;
  background-color: rgba(243, 238, 238, 0.145);
  border-radius: 20px 20px 0px 0px;
  width: 348px;
}

.twitter_contentPostCard{
  margin-left: 20px;
  float: left;
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

h1{
  text-align: center;
  border-bottom: 1px solid rgb(250, 195, 195);
  margin-bottom: 30px;
}